













body{

    background-color:paleturquoise;
    margin: 0%;
    padding: 0%;
}






.top-heading{

    background-color: lightslategray;
    color: white;
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    box-shadow: 3px 3px 3px 3px black;

    
    
    
}





img{

    width: 60px;
    height: 60px;
    border-radius: 50%;

}














.subjects{

    display:block;
    font-size: x-large;
   
    
    

}








input{

    font-size:x-large;
    display: inline-block;
    border: 1px solid;
    box-shadow: 3px 3px 3px 3px black;

}










.table-div{

    border: 1px solid bisque;
    background-color:bisque;
    margin-top: 10px;
    font-size: x-large;

}













button{

    background-color: darkgray;
    border-radius: 20px;
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid;
    box-shadow: 2px 2px 2px 2px black;


}

button:hover{

    background-color: grey;
}






.grade-div{

    width: 300px;

    text-align: left;

}





.button-div{


    width: 300px;
    text-align: left;
}

.bottom-marquee{

    background-color: black;
    opacity: 0.5;

    
}


h1{

    color: white;
}